<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security + MongoDB</title>
</head>

<body>
<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Log out"/>
</form>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <hr/>
    <a th:href="@{/companies}">>>MANAGE COMPANIES DATA<<</a>
    <hr/>
</div>
<div>
    <p>You are signed in as <i sec:authentication="name"></i>
    <span th:if="${user.company != null}">
        from <a th:text="${user.company.name}" th:href="@{/company}"></a>
    </span></p>
    <br/>
    <a th:href="@{/edit}">edit</a>
    <span> | </span>
    <a th:href="@{/delete}">delete</a>
</div>
<br/><br/>
</body>
</html>