<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Spring Security + MongoDB</title>
</head>

<body>
<form method="POST" th:action="@{/logout}">
    <input type="submit" value="Log out"/>
</form>
<div sec:authorize="hasRole('ROLE_ADMIN')">
    <hr/>
    <a th:href="@{/companies}">>>MANAGE COMPANIES DATA<<</a>
    <hr/>
</div>
<h2>You are signed in as <span sec:authentication="name"></span></h2>
<a th:href="@{/edit}" class="edit">edit</a>
<span> | </span>
<a th:href="@{/delete}" class="delete">delete</a>
<br/><br/>
</body>
</html>